# $$\text{Financial Data Analytics}$$

In [35]:
import yesg
lly_esg = yesg.get_historic_esg('LLY')['2020-01':]
jnj_esg = yesg.get_historic_esg('JNJ')['2020-01':]
unh_esg = yesg.get_historic_esg('UNH')['2020-01':]
mrk_esg = yesg.get_historic_esg('MRK')['2020-01':]

In [39]:
type(mrk_esg)

pandas.core.frame.DataFrame

In [42]:
mrk_esg

            Total-Score  E-Score  S-Score  G-Score
Date
2020-01-01        27.75     1.56    15.20    10.99
2020-02-01        27.55     1.65    14.90    11.01
2020-03-01        27.55     1.65    14.90    11.01
2020-04-01          NaN      NaN      NaN      NaN
2020-05-01          NaN      NaN      NaN      NaN
2020-06-01          NaN      NaN      NaN      NaN
2020-07-01        26.82     1.65    14.05    11.13
2020-08-01        26.82     1.65    14.05    11.13
2020-09-01          NaN      NaN      NaN      NaN
2020-10-01        26.85     1.65    14.05    11.15
2020-11-01          NaN      NaN      NaN      NaN
2020-12-01          NaN      NaN      NaN      NaN
2021-01-01        22.50     0.90    11.31    10.30
2021-02-01        22.50     0.90    11.31    10.30
2021-03-01        22.98     0.90    11.31    10.78
2021-04-01          NaN      NaN      NaN      NaN
2021-05-01        22.98     0.90    11.31    10.78
2021-06-01          NaN      NaN      NaN      NaN
2021-07-01          NaN      NaN      NaN      NaN
2021-08-01          NaN      NaN      NaN      NaN
2021-09-01        22.39     0.79    11.18    10.42
2021-10-01          NaN      NaN      NaN      NaN
2021-11-01          NaN      NaN      NaN      NaN
2021-12-01          NaN      NaN      NaN      NaN
2022-01-01          NaN      NaN      NaN      NaN
2022-02-01        21.91     0.79    11.47     9.64
2022-03-01          NaN      NaN      NaN      NaN
2022-04-01          NaN      NaN      NaN      NaN
2022-05-01        21.91     0.79    11.47     9.64
2022-06-01          NaN      NaN      NaN      NaN
2022-07-01          NaN      NaN      NaN      NaN
2022-08-01        21.84     0.79    11.47     9.57
2022-09-01          NaN      NaN      NaN      NaN
2022-10-01          NaN      NaN      NaN      NaN
2022-11-01          NaN      NaN      NaN      NaN
2022-12-01          NaN      NaN      NaN      NaN
2023-01-01          NaN      NaN      NaN      NaN
2023-02-01          NaN      NaN      NaN      NaN
2023-03-01          NaN      NaN      NaN      NaN
2023-04-01          NaN      NaN      NaN      NaN
2023-05-01          NaN      NaN      NaN      NaN
2023-06-01          NaN      NaN      NaN      NaN
2023-07-01          NaN      NaN      NaN      NaN
2023-08-01          NaN      NaN      NaN      NaN
2023-09-01        21.39     1.85    10.64     8.90

This code will resample the original jnj_esg DataFrame to an annual frequency using the 'A' rule (for Annual), and it will calculate the mean value for each year.

In [37]:
import pandas as pd
annual_esg = jnj_esg.resample('A').mean()
annual_esg.index = annual_esg.index.year
annual_esg

      Total-Score   E-Score    S-Score    G-Score
Date
2020    33.918333  1.291667  21.188333  11.436667
2021    29.924000  0.740000  19.890000   9.290000
2022    25.816667  0.740000  16.530000   8.543333
2023    23.980000  0.920000  15.020000   8.030000

In [43]:
import pandas as pd

# Assuming you have the four DataFrames already loaded
dataframes = {
    'LLY': lly_esg,
    'JNJ': jnj_esg,
    'UNH': unh_esg,
    'MRK': mrk_esg
}

# Create an empty dictionary to store the annual ESG DataFrames
annual_esg_dfs = {}

# Loop through each DataFrame
for ticker, df in dataframes.items():
    # Convert the index to monthly periods
    df.index = df.index.to_period('M')
    
    # Resample to annual frequency and take the mean
    annual_df = df.resample('A').mean()
    
    # Change the index to include only the year
    annual_df.index = annual_df.index.year
    
    # Store the annual DataFrame in the dictionary
    annual_esg_dfs[ticker] = annual_df

# Print the annual ESG DataFrames
for ticker, annual_df in annual_esg_dfs.items():
    print(f"Annual ESG Data for {ticker}:")
    print(annual_df)
    print("\n")

Annual ESG Data for LLY:
      Total-Score   E-Score    S-Score    G-Score
Date
2020    34.193333  2.066667  19.533333  12.593333
2021    30.924000  1.776000  18.308000  10.840000
2022    32.370000  3.326667  17.400000  11.636667
2023    24.280000  2.540000  12.600000   9.140000


Annual ESG Data for JNJ:
      Total-Score   E-Score    S-Score    G-Score
Date
2020    33.918333  1.291667  21.188333  11.436667
2021    29.924000  0.740000  19.890000   9.290000
2022    25.816667  0.740000  16.530000   8.543333
2023    23.980000  0.920000  15.020000   8.030000


Annual ESG Data for UNH:
      Total-Score  E-Score    S-Score  G-Score
Date
2020    20.883333     0.03  14.898333    5.955
2021    20.986000     0.03  15.158000    5.794
2022    17.506667     0.03  11.586667    5.890
2023    15.300000     0.03   9.670000    5.590


Annual ESG Data for MRK:
      Total-Score  E-Score  S-Score    G-Score
Date
2020    27.223333    1.635   14.525  11.070000
2021    22.670000    0.878   11.284  10.516000
2022    21.886667    0.790   11.470   9.616667
2023    21.390000    1.850   10.640   8.900000

In [ ]:
annual